<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
  {% endif %}
  {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}">
  {% endif %}
  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/atom.xml">
<!-- gigya.js script should only be included once -->
<script type="text/javascript" src="http://cdn.gigya.com/js/gigya.js?apiKey=3_ov6dmoYL2hvFWK4UYEzJ8g_TP7DALj8TmQ9TD2pChriLM_-015QxYQ-gjJmoT2zc">
{
	enabledProviders: 'twitter'
}
</script>
</head>
